.table {
    min-width: 1200px;
}

.tableContainer {
    border-radius: 5px;
}

.headerCell {
    font-weight: bold !important;
    background-color: #cf3213;
    color: #ffffff !important;
}

.avatar {
    color: #ffffff; /* Contrast text color for avatar */
    background-color: #f00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.name {
    font-weight: bold;
    color: #4a4847;
}

.status {
    font-weight: bold;
    font-size: 0.75rem;
    color: white;
    background-color: grey;
    border-radius: 8px;
    padding: 3px 10px;
    display: inline-block;
}

.container {
    color: textSecondary; /* Adjust based on the color variable you want to use */
    margin: 0px 5px;
}